# --- Core ---
streamlit==1.22.0
altair==4.2.2

# --- Data ---
numpy
pandas
scipy
matplotlib
requests
pyarrow
openpyxl

ta-lib
# --- Trading ---
#ta-lib==0.4.28
tradingview-datafeed

# --- PDF ---
fpdf2
